/* styles.css */
.H2 {
  color: #333;
}

.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #4caf50;
  color: white;
}

.table td {
  background-color: #f9f9f9;
}

.btn {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

.btn:hover {
  background-color: #45a049;
}

/* Add a bit of spacing for better readability */
.row {
  margin-bottom: 20px;
}
.table th {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  text-align: left;
}

.table td {
  background-color: #f9f9f9;
  padding: 12px;
}

/* Add this rule to extend the header */
.table th:last-child {
  border-right: none;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; /* Extend width to the last */
  height: 50px; /* Reduce height of the navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-shop-btn {
  margin-top: 10px;
}

.add-shop-btn button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.add-shop-btn button:hover {
  background-color: #45a049;
}